@charset "utf-8";
/* CSS Document */

/* PRINCIPAL */
@font-face {
font-family: "helvetica";
src: url(../tipografias/Helvetica-Light.otf);
}

.login{
  margin-top: 15px;
}

.recuadro{
  padding: 20px;
}

.boton{
  width: 50%;
}

.espaciado{
  margin-right: 25px;
}

.espacio_tabla{
  margin: 10px;
  
}

.tablaListado{
  margin-left: 10%;
}


:root {
  --color1: #00ABFF;
  --color2: rgb(100, 100, 100);
  --color3: rgb(255, 255, 255);
  --color4: rgb(0, 0, 0);
  --color5: #efefef;

}
.bg-light{
  background-color: var(--color3);
}

.bg-color1{
  background-color: var(--color1);
}

.bg-color2{
  background-color: var(--color2);
}

.bg-color5{
  background-color: var(--color5);
}

.text-light{
  color: var(--color3);
}

.text-color1{
  color: var(--color1);
}

.text-color2{
  color: var(--color2);
}

.navbar-dark .navbar-nav .nav-link{
  color: var(--color3);
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: var(--color3);
}

.btn-danger{
  border-radius: 30px;
  border: 0;
}

.btn-danger:hover{
  /*background: var(--color2);*/
  border-color: var(--color2);
  border: 0;
}

.btn-outline-primary{
  border-color: var(--color3);
  border-radius: 30px;
  color: var(--color3)!important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.dropdown-toggle.show{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color3)!important;
  border-radius: 30px;
}

.btn-outline-secondary{
  border-color: var(--color2);
  border-radius: 30px;
  color: var(--color2)!important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.dropdown-toggle.show{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color3)!important;
  border-radius: 30px;
}

.btn-primary{
  background-color: var(--color3);
  border-color: var(--color3);
  color: var(--color2)!important;
  border-radius: 30px;
  border: 2px solid var(--color2);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.dropdown-toggle.show{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color3)!important;
  border-radius: 30px;
}

.btn-secondary{
  border-color: var(--color1);
  background-color: var(--color1);
  border-radius: 30px;
  color: var(--color3)!important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.dropdown-toggle.show{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color3)!important;
  border-radius: 30px;
}



/*.lol{
  width:100%; 
  height:500px !important;
  margin-top:20%;
} */



/*
@media (max-width: 800px) {
  .btn-primary{
    width: 80%;
    max-width: 300px;
  }

  .btn-outline-primary{
    width: 80%;
    max-width: 300px;
  }
}